/* Default style for all challenges containers. */
.challenge-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.challenge-01-ul {
  list-style: none;
  display: flex;
}

.challenge-01-li .challenge-01-span {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.challenge-01-li .challenge-01-span:hover {
  cursor: pointer;
}

.challenge-01-li .challenge-01-span:last-child {
  font-size: 30px;
}

.challenge-01-li:hover .challenge-01-span {
  transition: all 0.2s ease-in-out;
}

.challenge-01-li:hover .challenge-01-span:nth-child(1) {
  transform: translate(0, 0);
  opacity: 0.2;
}

.challenge-01-li:hover .challenge-01-span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

.challenge-01-li:hover .challenge-01-span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

.challenge-01-li:hover .challenge-01-span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 1;
}

.challenge-01-li {
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
  transform: rotate(-30deg) skew(25deg);
}

.challenge-01-li:hover .challenge-01-span {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
}

.challenge-01-li:nth-child(1) .challenge-01-span {
  background: #3b5999;
}

.challenge-01-li:nth-child(2) .challenge-01-span {
  background: #55acee;
}

.challenge-01-li:nth-child(3) .challenge-01-span {
  background: #dd4b39;
}

.challenge-01-li:nth-child(4) .challenge-01-span {
  background: #0077b5;
}

.challenge-01-li:nth-child(5) .challenge-01-span {
  background: #e4405f;
}

@media (max-width: 768px) {
  .challenge-container {
    overflow: auto;
  }
}
