/* Default style for all challenges containers. */
.challenge-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.challenge-20-button {
  height: 5rem;
  width: 15rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: transparent;
  color: #ffffff;
  transition: all 0.5s;
}

.challenge-20-button:hover {
  background-color: #dd4b39;
}

.challenge-20-button::before {
  content: '';
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.5s;
}

.challenge-20-button:hover::before {
  transform: translateX(100%) rotate(45deg);
}
